*.class
*.war
*.zip
.DS_Store
webapp1/target/*
webapp2/target/*
webappWSApplication/target/*
gfv5ee8.dpf
webapp2/cliente - copia/target/
webapp2/backup/target/
webapp2/server/target/
webapp2/cliente/target/
/webapp3/server_identity/target/
/webapp3/cliente/target/
/webapp3/server_rest/target/
/webapp3/server_soap/target/
/webapp4/cliente/target/
/webapp4/server_rest/target/
/webapp4/cliente_tomcat/target/
/webapp4/cliente_glassfish/target/
apache-tomcat-8.5.65_alejandro/logs/
balana
!balana/modules/balana-samples/filtrado-balana/
